
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<div class='form-wrap'> 
  <h2 class='form-header-text'>
  Sign up
  </h2>
  <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field">
      <%= f.label :nickname, "ニックネーム" %> <br />
      <%= f.text_field :nickname, id:"nickname",placeholder:"必須" %>
    </div>

    <div class="field">
      <%= f.label :email, "メールアドレス" %><br />
      <%= f.email_field :email, class:"input-default", id:"email",placeholder:"必須", autofocus: true %>
    </div>

    <div class="field">
      <label class="form-text">パスワード</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.password_field :password, class:"input-default", id:"password",placeholder:"必須 6文字以上" %>
    </div>
    <div class="field">
      <div class='form-text-wrap'>
        <label class="form-text">パスワード(確認)</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.password_field :password_confirmation, class:"input-default", id:"password-confirmation", placeholder:"同じパスワードを入力" %>
    </div>

    <div class="actions">
      <%= f.submit "新規登録" %>
    </div>
</div>

  <%# <%= render "devise/shared/links" %> 
<% end %>