<%= render "shared/header" %>

    <% if user_signed_in? %>
      <div class="greeting"> 
        <%= "こんにちは、#{current_user.nickname}さん!" %>
       </div>
    <% else %>
    <% end %>

<p id="notice"><%= notice %></p>

<div class="toppage">
<h1 class="top">カレンダー</h1>
<%= link_to 'イベント追加', new_read_path %>


<div class="col-md-8">
<%= month_calendar events: @reads do |date, reads| %>
  <%= date.day %>
  <% reads.each do |read| %>
    <div>
      <%= link_to read.title, read %>
    </div>
  <% end %>
<% end %>
</div>
</div>
</div>
