<%= render "shared/header" %>

    <% if user_signed_in? %>
      <div class="greeting"> 
        <%= "こんにちは、#{current_user.nickname}さん!" %>
       </div>
    <% else %>
    <% end %>

    <%= month_calendar do |date| %>
      <%= date %>
    <% end %>

<<<<<<< HEAD
<div class="toppage">
<h1 class="top">カレンダー</h1>
<%= link_to 'イベント追加', new_read_path %>


<div class="col-md-8">
<%= month_calendar events: @reads do |date, reads| %>
  <%= date.day %>
  <% reads.each do |read| %>
    <div>
      <%= link_to read.title, read %>
    </div>
  <% end %>
<% end %>
</div>
</div>
</div>
=======


>>>>>>> c3fe7d980081af42cf43c67ed98a1140d48683c3
