<%= render "shared/header" %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class='form-wrap'>
  <div class="form-wrap-inner">
    <div class='form-header'>
      <h1 class='form-header-text'>
        ログイン
      </h1>
    </div>
    <div class="field">
      <%= f.label :メール, class: "field-text-1" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-text"  %>
    </div>

    <div class="field">
      <%= f.label :パスワード, class: "field-text" %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
    <div class="button">
      <div class="actions">
        <%= f.submit "ログイン", class: "btn btn-primary" %>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
<% end %>
